<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="/css/scss.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/animation.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/hello.css">
    <link rel="stylesheet" href="/css/comment.css">
    <link rel="stylesheet" href="/css/rating.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/modal/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/images/DYicon.png" sizes="32x32">
    <title>DuB gUG</title>
</head>
<body>
    
     <!--    <link rel="stylesheet" href="/css/navbar.css"> -->
     <header class="bl header" data-servername="<%=servername%>">
       
        <%- include("../Partial/nav.ejs") %>
     </header>

    <!--swiper-->
    <%- include("../Partial/swiper.ejs") %>
   
    <section class="bl djc df" id="aktuelles">
        <div class="df box">
            <div class="menu" >
                <ul class="dja menu-item">
                    <li><div class="param" onclick=" updatepost('output-title', 'Alle')">ALLE</div></li>
                    <li><div class="param" onclick=" updatepost('output-title', 'Projekt')">PROJEKTE</div></li>
                    <li><div class="param" onclick=" updatepost('output-title', 'Veranstaltung')">VERANSTALTUNGEN</div></li>
                    <li><div class="param" onclick=" updatepost('output-title', 'Andere')">LIVE</div></li>
                </ul>
            </div>
            <template id="template-post">
                <div class="grid-item "  >
                    <div class="grid-item-text">
                        <div class="post-top" >
                            <span class="post-date" id="post-date" >18.11.2022</span>
                            <div >
                                <label><i class="fa-regular fa-clipboard"></i></label>
                                <label id="post-type">Migrants</label>
                            </div>
                        </div>
                        <div class="post-content">
                            <span class="post-text">
                                <h6 id="post-name">Integration</h6>
                                <!--
                                <div class="">
                                    <p class="p-post-content" id="post-content">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam obcaecati nostrum deserunt natus eum dolorem nulla ipsum repellendus, aperiam impedit alias vero velit ducimus saepe mollitia deleniti! Provident asperiores fuga repudiandae odit rem veritatis totam aliquid possimus consequuntur facere amet, quasi enim dicta itaque eligendi iusto quo harum accusantium ea tempora dolor. Enim nemo dolorum, vero accusantium incidunt qui totam! Similique laborum cumque voluptate laboriosam fugiat sit ab harum corrupti enim numquam accusamus, repudiandae reprehenderit omnis, obcaecati voluptatibus! Unde corporis exercitationem, magnam tempore omnis at sequi itaque a vero deleniti reiciendis qui maxime labore dolor cupiditate quasi rerum ipsum quas?
                                    </p>
                                </div>
                                <div  style="display:flex; justify-content: center; text-align: center; ">
                                    <span class="btn-read">lesen</span> 
                                </div>
                                -->
                            </span>
                        </div>
                    </div>
                    <div class="grid-item-img">
                        <img class="grip-img" id="post-image" src="images/Integration_4.jpg" alt="">
                    </div>
                </div>
            </template>
            <div class="grid" id="output-title"></div>
            <script>
                let contents = [
                    {
                        date: '25.03.2024',
                        name:'Interkulturelles Treffen',
                        type:'Projekt',
                        text:'',
                        //text:'In unsere Beratungsstelle, wird geplant, alleinerziehende Familien (Mütter und Väter) rund einen Tisch zu sammeln: Die Begegnung mit anderen Kulturen. Zusammen backen, kochen, singen, trinken und Essen wäre Sinnvoll, um  das Wir-Gefühl zu stärken. Jeder Elternteil wird sich nicht mehr allein, sondern in Gemeinschaft fühlen. Mit der interkulturelle Offenheit, wird es bald den Anlass, andere Alleinerziehende aus unterschiedlichen Kulturkreisen bekannt zu machen und neue Nachbarn bei der Integration in der Stadt Berlin zur Seite stehen.',
                        image:'/images/kitta2.jpg'
                    },
                    {
                        date: '25.03.2025',
                        name:'Nie wieder allein! (NWA)',
                        type:'Projekt',
                        text:'',
                        //text:'„ Nie wieder allein!“ ist eine Initiative/Ein Konzept im DuB-Projekt.    Die Initiative bezieht auf dem Gesamtkonzept zur Integration und Partizipation Gefluchteter des Berliner Senats, das beschrieb, dass umfassende Kinderbetreuung bei alleinerziehenden Müttern fehlt, dass Sprachangebote ungenügend sind, dass Frauen mit Kindern  anders als Maenner nach dem Spracherwerb B1, ihre Deutschkurse stoppen, das einige Frauen mit geringer Schulbildung, aber mit Großen Potenziellen sind.  Des Weiteren,  ist es eine Tradition in Berlin geworden, alleinerziehende Frauen (geduldete Frauen, gestattete   Frauen oder Frauen mit einen sicheren Aufenthaltsstatus) Geld für einen Sprachvermittler oder einen Dolmetscher für Verwaltungstermine, für die die Übersetzung eines Dokuments aus Verwaltungen, für  eine private Kinderbetreuung in Notfällen, für Kita-und Wohnungssuche und für weitere Anliegen individuell ausgeben, obwohl die meisten von Ihnen Asylberechtigte und Anspruch auf Leistungen nach dem AsylbLG haben. In den nächsten Monaten waere die Beratung für geflüchtete Frauen im DuB-Projekt durch das Konzept/die Initiative „Nie wieder allein! (NWA) “ aktiv unterstützt. Das Konzept „Nie wieder allein! (NWA) wurde lediglich zur Förderung von Berliner alleinerziehenden Frauen in Schule und  Beruf entwickelt. Das Konzept zielt darauf die Vereinbarkeit von Deutschkurs, Beruf und Familie. Durch das Konzept sollten geflüchtete alleinerziehende Frauen von dem DuB-Team (aus Ehrenamtlichen zuhause und außer Haus) aktiv und kostenlos in jedem Bezirk der Stadt Berlin unterstützt werden, um eine gezielte und sensible individuelle Förderung zu ermöglichen. Freilich, Schwerpunktsaufgaben des Konzepts „ Nie wieder allein! bestehen darin, Maßnahme bzw. Angebote für alle alleinerziehenden Frauen bzw. Analphabetinnen durch Informationen zugänglich zu stehen, auf Wunsch Unterstützung bei Hausaufgaben (ZB. Das deutsche Alphabet), Kinderbetreuung im Fall einer schweren Krankheit, einer geplanten Klausur ohne Kinderbetreuung, bei einer Wohnnungsbesichtigung mit Kinderverbot, bei Wohnungs-und Kitasuche, bei Arbeitsplatzsuche, bei der Begleitung auf Verwaltungstermine als Sprachvermittler/Dotschmelzer. Ihre Briefe und  Egal ob Sie in einer Unterkunft, Hostel oder Hotels untergebracht würden. Unsere Ehrenamtliche helfen ihnen jederzeit mit Berücksichtigung von kulturellem Hintergrund. Neue Zugewanderte alleinerziehende Frauen können auch bei Einkaufen in Geschäften begleitet werden.',
                        image:'/images/kitta.jpg',
                    },
                    {
                        date: '30.11.2023',
                        name:'Jährliche Versammlung',
                        type:'Veranstaltung',
                        text:'Jährlich wird ein Netzwerktreffen über den Austausch aktueller Themen von der Nationalen Kontaktstelle Deutschland veranstaltet. Die Konferenz/Veranstaltung wird  ein Anlass fuer die Weiterentwicklung des Netzwerks sein. Zudem nehmen regelmaessig an das Treffen die Kommission sowie die Nationalen Kontaktstellen. Teil. Ausfuehrliche Informationen finden Sie auf die offizielle Seite des Bundesamtes für Migration und Fluechtlings auf  wwww.bamf.de/DE/Themen/EMN/Veranstaltung',
                        image:'/images/support.jpg'
                    },
                    /*{
                        date: '18.11.2022',
                        name:'Integration',
                        type:'Veranstaltung',
                        text:'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam obcaecati nostrum deserunt natus eum dolorem nulla ipsum repellendus, aperiam impedit alias vero velit ducimus saepe mollitia deleniti! Provident asperiores fuga repudiandae odit rem veritatis totam aliquid possimus consequuntur facere amet, quasi enim dicta itaque eligendi iusto quo harum accusantium ea tempora dolor. Enim nemo dolorum, vero accusantium incidunt qui totam! Similique laborum cumque voluptate laboriosam fugiat sit ab harum corrupti enim numquam accusamus, repudiandae reprehenderit omnis, obcaecati voluptatibus! Unde corporis exercitationem, magnam tempore omnis at sequi itaque a vero deleniti reiciendis qui maxime labore dolor cupiditate quasi rerum ipsum quas?',
                        image:'/images/guide.jpg'
                    },
                    {
                        date: '18.11.2022',
                        name:'Integration',
                        type:'Andere',
                        text:'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam obcaecati nostrum deserunt natus eum dolorem nulla ipsum repellendus, aperiam impedit alias vero velit ducimus saepe mollitia deleniti! Provident asperiores fuga repudiandae odit rem veritatis totam aliquid possimus consequuntur facere amet, quasi enim dicta itaque eligendi iusto quo harum accusantium ea tempora dolor. Enim nemo dolorum, vero accusantium incidunt qui totam! Similique laborum cumque voluptate laboriosam fugiat sit ab harum corrupti enim numquam accusamus, repudiandae reprehenderit omnis, obcaecati voluptatibus! Unde corporis exercitationem, magnam tempore omnis at sequi itaque a vero deleniti reiciendis qui maxime labore dolor cupiditate quasi rerum ipsum quas?',
                        image:'/images/soin.jpg'
                    },
                    {
                        date: '18.11.2022',
                        name:'Integration',
                        type:'Projekt',
                        text:'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam obcaecati nostrum deserunt natus eum dolorem nulla ipsum repellendus, aperiam impedit alias vero velit ducimus saepe mollitia deleniti! Provident asperiores fuga repudiandae odit rem veritatis totam aliquid possimus consequuntur facere amet, quasi enim dicta itaque eligendi iusto quo harum accusantium ea tempora dolor. Enim nemo dolorum, vero accusantium incidunt qui totam! Similique laborum cumque voluptate laboriosam fugiat sit ab harum corrupti enim numquam accusamus, repudiandae reprehenderit omnis, obcaecati voluptatibus! Unde corporis exercitationem, magnam tempore omnis at sequi itaque a vero deleniti reiciendis qui maxime labore dolor cupiditate quasi rerum ipsum quas?',
                        image:'/images/talk.jpg'
                    },*/
                ]
                
                async function getposts(){
                    endpoint = '/API/getposts'
                    let points = []
                    //points = await GetData(endpoint)
                    return points
                }
                function selectfilter( posts, param ){
                    let _posts
                    if(param && param.toLowerCase() != 'alle'){ _posts = posts.filter(post => post.type.toLowerCase() === param.toLowerCase()) }
                    else { _posts = posts}
                    return _posts
                }
                let ret = []; let posts = []
                async function loadtitle(output){
                    servername = document.querySelector('.header').dataset.servername
                    
                    ret = await getposts();
                    container = document.getElementById(output)
                    document.getElementById(output).innerHTML = ''
                    let contentimgindex = [];
                    let postblockindex = [];
                    if(/*ret?.element ==  0*/ 1) { posts = contents} else { posts = ret?.posts }

                    for (let [ind, post] of Object.entries(posts)) {
                        contentimgindex[ind] = 'post-image'+ ind
                        postblockindex[ind] = 'post-block'+ ind
                        const tmp = document.getElementById('template-post').content.cloneNode(true)
                        tmp.getElementById('post-name').innerHTML = post.name
                        /*shorttext = post.text
                        if(post.text.length > 99) shorttext = post.text.substring(0, 100)
                        tmp.getElementById('post-content').innerHTML = shorttext*/
                        tmp.getElementById('post-type').innerHTML = post.type
                        tmp.getElementById('post-date').innerHTML = post.date
                        ptimage = servername + post?.image
                        if(ptimage.includes('Public')){
                            ptimage = ptimage.replace('Public/images', '')
                        }
                        tmp.querySelector('.grip-img').setAttribute ('id', contentimgindex[ind])
                        tmp.querySelector('.grid-item').setAttribute ('id', postblockindex[ind])
                        tmp.getElementById(contentimgindex[ind]).setAttribute("src", ptimage)
                        container.append(tmp)
                        document.getElementById(postblockindex[ind]).addEventListener('click', (event)=>{event.preventDefault(); showpost(post)})
                    }
                    
                }
                loadtitle('output-title')
                async function updatepost(output, param){
                    servername = document.querySelector('.header').dataset.servername
                    container = document.getElementById(output)
                    document.getElementById(output).innerHTML = ''
                    let contentimgindex = [];
                    let postblockindex = [];
                    if(/*ret?.element ==  0*/ 1) { posts = contents} else { posts = ret?.posts }
                    posts = selectfilter( posts, param )
                    for (let [ind, post] of Object.entries(posts)) {
                        contentimgindex[ind] = 'post-image'+ ind
                        postblockindex[ind] = 'post-block'+ ind
                        const tmp = document.getElementById('template-post').content.cloneNode(true)
                        tmp.getElementById('post-name').innerHTML = post.name
                        shorttext = post.text
                        if(post.text.length > 99) shorttext = post.text.substring(0, 100)
                        tmp.getElementById('post-content').innerHTML = shorttext
                        tmp.getElementById('post-type').innerHTML = post.type
                        tmp.getElementById('post-date').innerHTML = post.date
                        ptimage = servername + post?.image
                        if(ptimage.includes('Public')){
                            ptimage = ptimage.replace('Public/images', '')
                        }
                        tmp.querySelector('.grip-img').setAttribute ('id', contentimgindex[ind])
                        tmp.querySelector('.grid-item').setAttribute ('id', postblockindex[ind])
                        tmp.getElementById(contentimgindex[ind]).setAttribute("src", ptimage)
                        container.append(tmp)
                        document.getElementById(postblockindex[ind]).addEventListener('click', (event)=>{event.preventDefault(); console.log('modal'+ind); showpost(post)})
                    }
                    
                }
                
            </script>
        </div>
    </section>


    <div class="bd dfc dj fade-down" style="padding:1rem;" id="stiftung">   
        <div class="box block" >
            <div class="infoblock">
                <div class="blockimg">
                    <div class="df">
                        <div class="infoimg">
                            <img class="img-item" src="/images/denise.jpg" alt="">
                        </div>
                        <div class="zertificat">
                            <p class="bold name">Denise Yomi</p> 
                            <p class="iname"><span class="italic">Zertifizierte</span></p>
                            <p class="iname"><span class="italic">- Integrations-und Migrationsberaterin</span></p> 
                            <p class="iname"><span class="italic">- sytemische Coachin, Berlin</span></p> 
                        </div>
                    </div>
                    
                    <!--
                    <div style="margin: 1rem; font-size: 1rem;justify-content: center; color: var(--theme); font-weight: 700;">Denise Yomi</div>
                        <p class="p-post-content">
                            Das DuB-Projekt ist eine Initiative von Denise Yomi, eine zertifizierte
                            Integrations-und Migrationsberaterin, Systemische Coachin,
                            kamerunischer Nationalitaet, die sich auf Gefluechtete und Migranten
                            spezialisiert hat. Frueher hat sie Germanistik mit „Deutscher
                            Kulturgeschichte“ als Spezialisierung bis zum Masterjahrgang studiert.
                            Denise Yomi hat demnaechst vor, eine Promotion in der Studienrichtung
                            Integration und Migration/Rassismus aufzunehmen.
                        </p>
                    </div>
                -->
                <div class="infotext">
                    <div class="infotitle">
                        <h3>GESCHAEFTERIN</h3> 
                    </div>
                    <div class="para">
                        <p class="p-post-content">
                            Das <span class="bold">DuB-Projekt</span> ist eine Geschaeftsidee von Denise Yomi, eine zertifizierte Integrations-und Migrationsberaterin, Systemische Coachin, kamerunischer Nationalität, die sich auf Geflüchtete und Migranten spezialisiert hat. Früher hat sie Germanistik mit „Deutscher Kulturgeschichte“ als Spezialisierung bis zum Masterjahrgang studiert. Denise Yomi hat demnächst vor, eine Promotion in der Studienrichtung Integration und Migration/Rassismus aufzunehmen. Gleichzeitig mit ihren Hochschulstudien leistete Denise Yomi jahrelang Studentenwerke als Deutschlehrerin bei Privats- und katholischen Schulen. Noch hinzu, arbeitete sie ehrenamtlich  als  Nachwuchsjournalistin im Rahmen ihrer Fernsehinitiative „Deutsch Für Alle“, deren Ziel bestand, die deutsche Sprache und Kultur durch Medien zu foerdern. Ihr Soziales Engagement für die „Menschheit“ ist sehr gross, dass die Geschaefterin ehrenamtliche Taetigkeiten bei Aufnahmeneinrichtungen (EAE), bei Zentralen Unterbringungseinrichtungen (ZUE) und bei Wohnheimen in Nordrhein Westfalen (NRW) zwei jahrelang geleistet hat. Die Zusammenarbeit mit Geflüchteten und Migranten aus unterschiedlichen Nationalitäten, gab ihr nicht nur den Anlass, viel über die Fluchtgeschichte der Asylherkunftsländer zu erfahren, aber auch ihre Realitäten hautnah zu  erleben. Dieser direkte Kontakt mit geflüchteten Menschen und Menschen mit Migrationshintergrund gab ihr den Impuls sich zu einer Expertin-Beraterin auszubilden lassen.
                        </p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bd dfc dj fade-down" style="padding:0rem 1rem;" id="stiftung">   
        <div class="box block" >
            <div class="infoblock">
                <div class="infotext">
                    <div class="infotitle">
                        <h3>GESCHICHTE DER DuB</h3> 
                    </div>
                    <div class="para">
                        <p class="p-post-content">
                            Immer mehr kommen neue Zugewanderte in Deutschland an und stellen einen Asylantrag. Die sind in den ersten Monaten verpflichtet, nur in Wohnheimen zu wohnen. In den ersten Wochen scheint ihnen vieles fremd. Im Unterschied zu ihrem Herkunftsland hier gibt es andere Regeln und die Gesellschaft funktioniert möglicherweise anders. Es fehlte ihnen erste Informationen über das Leben in Deutschland  und wie sie sich in der Stadt bewegen können. Zudem wissen sie  nicht genau wohin sie sich in erster Linie wenden können. Kultivierte Geflüchtete bemuehlen sich, Anzeigen auf Sozialnetzwerke in Gemeinschaftsgruppen freizuschalten, in denen sie um Hilfe fuer Ihr Asylverfahren und für weitere Aufenthalts-und Sozialfragen bitten. Folgende Fragen kommen immer wieder: wo kann ich Deutsch lernen? Muss ich den Kurs selbst zahlen? Wird mein Schulabschluss oder meine Ausbildung anerkannt? Wer hilft für das Asylverfahren und während der Schwangerschaft? Wo finde ich Beratungsangebot bei Eheproblemen? Wie bekomme ich eine Gesundheitskarte? Und so weiter. Einige dagegen berichten durch anonym Profils  tätig Opfer von Rassismus im  zu sein, fragen was zu tu ist nach und suchen ein aufmerksames Ohr. 
                            Aus dieser Perspektive traf das <span class="bold">DuB-Projekt</span> seit dem 11.06.2022 das Engagement, Geflüchtete und Migranten ohne Unterscheidung von Herkunft, Rasse und Religion in Berlin und in anderen Regionen in Deutschland durch eine Online Beratung bei Fragen:
                            •	Zum Asylrecht
                            •	Zum Aufenthaltsrecht
                            •	Zum Recht
                            •	Zur Dublin III-Verordnung
                            •	 Zur Integration
                            •	 zum Sozialrecht
                            •	Zum Migrationsrecht und zu Gesundheit usw. kostenlos schnell und unbürokratisch zu helfen, damit aufgeworfene Probleme gelöst werden. Besonders hat die DuB  bisher für zahlreiche Schutzsuchende und Migranten bei ihren zuständigen Behörden und Ämtern für unterschiedliche Anliegen  (Arbeitserlaubnis, Beschaeftigungsduldung, Ausbildungsduldung, Geburtsurkunde, Anerkennung ausländischer Studienabschluesse, Härtefall, Jobcenter, Sozialamt, Agentuer fuer Arbeit usw.) plädiert und sie auch bei Bedarf unterstützt. Die Besonderheit bei dem DuB-Projekt ist das Konzept : Nie wieder allein: Haushaltshilfe!  
                            Durch welches hilfesuchende geflüchtete Familien und Sozial-benachteiligten  (alleinerziehende-und behinderte Frauen) auf der Grundlage der humanitären Hilfe zuhause und aus dem Haus von unseren Ehrenamtlichen aktiv kostenlos unterstützt werden, um diesen Familien eine Vereinbarkeit von  „Schule“,  Bildung und Familie“  zu ermöglichen; Denn  die DuB hält den Slogan <span class="italic">„ Wer sich integriert lässt , befindet sich zuhause“</span> fest.
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="bd dj dfc fade-down" style="padding: 0rem 1rem;" id="stipendien">   
        <div class="box block" >
            <div class="infoblock">
               
                <div class="infotext">
                    <div class="infotitle" >
                        <h3>NIE WIDER ALLEIN</h3>
                    </div>
                    <p class="p-post-content">
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
    -->
    <section class="bd dfc dj fade-down" id="stipendium">   
        <div class="box" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1rem; color:var(--theme); ">
            <h3 id="beratung">BERATUNG</h3>
        </div>
        <div class="box block" >
            <div class="infoblock">
                <div class="infotext para">
                    <p class="p-post-content">
                        In allen Beratungsbereichen bieten wir persoenliche online Beratung und demnaechst auch in Praesenz mit oder ohne Termin in drei Sprachen (Deutsch, Englisch und Franzoesisch) an.
                        Unsere Beratung ist
                        <span class="bold">
                        - kostenfrei
                        - Vertraulich 
                        - auf Wunsch anonym
                        - Unabhaengig von Nationalitaet, Religion oder Weltsanschauung.
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="bd dfc dj fade-down">   
        <div class="box" style="background-color: transparent;">
            <div class="beratunggrid" >
                <div class="beratungblock" id="Sozialrechtliche">
                    <div class="" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1.5rem 0rem; color:var(--theme);">
                        <h3>Sozialrechtliche Beratung </h3> 
                    </div>
                    <div class="b-block">
                        <div class="beratunginfotext para">
                        
                            <p class="p-post-content">
                                Ziel unserer sozialrechtlichen Beratung ist die Hilfe zur Selbsthilfe und die Befähigung zu einem gleichbeachteten Leben in der Gemeinschaft. Im DuB-Projekt, können  Menschen ohne und mit Migrationshintergrund Hilfe bei unterschiedlichen Problemen bekommen; unser Angebot umfasst folgende Augabenschwerpunkte: Die Unterstützung bei der Befähigung von Leistungen nach dem AsylbLG; Die Hilfestellung bei Anträgen auf Sozialleistungen ( SGI, SGII, SGXII) und auf staatliche Leistungen (Kindergeld, UVG, Wohngeld, BAföG); Die Hilfestellung bei Anträgen auf Erteilung von WBS (Wohnberechtigungschein); Die Unterstützung auf Wohnungs-und Kitasuche. Im  DuB-Projekt findet auch die Schwangerschaftsberatung statt. Wo sie Unterstuetzungsangebote fuer Babyserstausstattung finden können, wird ihnen in der vertraulichen Beratung mitgeteilt. Gemeint ist eine Weiterleitung an die zustaendige Schwangerschaftsstelle. Während der Schwangerschaft unterstützen wir sie schon auf Vaterschafts-und Sorgerechtsfragen und bei Bedarf auch auf Gesundheitsfragen.  Opfer von Folter,  Rassismus und Diskrimierung  finden ein aufmerksames  Ohr  bei der DuB und werden auf Wunsch an antidiskriminierungs-und antirassistischen Stellen weitergeleitet.  Zusaetzlich werden Menschen in Problemloesungs-und Veraenderungsprozessen durch ein Sozial-Coaching unterstuetzt.
                            </p>
                        </div>
                        <div class="infoimg2" >
                            <img class="b-img-item" src="/images/details.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="beratungblock" id="Migrationsberatung">
                    <div class="" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1.5rem 0rem; color:var(--theme);">
                        <h3>Migrationsberatung (MBE)</h3> 
                    </div>
                    <div class="b-block">
                        <div class="beratunginfotext para">
                            <p class="p-post-content">
                                Die Migrationsberatung für Erwachsene Zuwanderer (MBE) für Menschen über 27 Jahre alt  ist ein Beratungsangebot im DuB-Projekt. Sie zielt darauf , zugewanderte Personen bzw. von bereits länger in Berlin lebenden MigrantInnen mit dem Schwerpunkt der Beratung in den Rechtskreisen der SGI, SGII, SGXII zu unterstützen. Die Migrationsberatung soll Zugewanderte zu selbstständigen Handeln in allen Angelegenheiten des täglichen Lebens befähigen. Aufgabenschwerpunkte der DuB  liegt bei der Hilfe vielfältiger Problemlagen  von Migrant*Innen im Alltag; bei der Begleitung des Integrationsprozesses von Migrantinnen durch ein bedarfsorientiertes, individuelles Beratungsangebot; bei der Beratung und Begleitung der Klienten im Sinne eines Case Managements; Bei der Begleitung  während des Integrationskurses; bei individuellem Bedarf und bei der Hilfestellung; bei ausländischen Fragen; bei Fragen zur Arbeit; bei der Anerkennung ausländischer Bildungs-und Berufsabschlüsse; bei der sozialen Versorgung; bei der Kooperation mit Institutionen und Behörden der Integrationsfoerderung und der Beratungsdienste; bei der Hilfe zur Antragstellung staatlicher und Sozialleistungen.
                            </p>
                        </div>
                        <div class="infoimg2" >
                            <img class="b-img-item" src="/images/migration.png" alt="">
                        </div>
                    </div>
                    
                </div>
                
                <div class="beratungblock" id="Gefluechtete">
                    <div class="" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1.5rem 0rem; color:var(--theme);">
                        <h3>Gefluechtete Frauenberatung</h3> 
                    </div>
                    <div class="b-block">
                    <div class="beratunginfotext para">
                       
                        <p class="p-post-content">
                            Die DuB bietet eine spezielle Beratung für geflüchtete Frauen in Berlin an: Denn seit 2015  wurde in Berlin insgesamt 27.568 geflüchtete Frauen registriert. Die Zahl von Kindern pro Frau, in welchem Alter sie ankommen, wieviel Kinder in welchem Bezirk, wieviel Mütter und Kinder in Hotels und Hotels untergebracht wurden, sind die Daten unbekannt (Vgl. die Studie zum Gesamtkonzept zur Integration und Partizipation Geflüchteter des Berliner Senats vom 12/2018). Dennoch bestehen knapp 30 Prozent aller Berliner Haushalte aus Alleinerziehenden mit minderjährigen Kindern, Von insgesamt knapp 100.000 Alleinerziehenden sind fast 90.000 Frauen. 
     Geflüchtete Frauen werden oft vor grossen Problemen gestellt: Sie haben kaum Zeit fuer die Vereinbarkeit von Kindern und Beruf, da die Kinderbetreuung kraeftezehend ist. Kaum haben Frauen Geld und haben meist Schulden; Ausbildungssituationen sind oft abgebrochen; psychische und körperliche Belastung und viel weiteres. Andere schwangere Frauen mit Fluchtgeschichte in finanzieller Notlage haben große Ängste und wissen nicht wo sie Schwangerschaftshilfe bekommen können. Manche Frauen dagegen erleben eine häusliche Gewalt, werden gezwungen sich zu prostituieren, werden vergewaltigt und am Arbeitsplatz sexuell belästigt und sind alle auf Suche Loesungs-und Unterstuetzungsangebote. Bei unserer Beratungsstelle ermitteln wir ihre individuelle Situation, informieren wir sie über mögliche Unterstuetzungsangebote  wie Zum Beispiel die Existenz von speziellen geförderten Ausbildungsangeboten/einer Maßnahme bzw. Coaching fuer alleinerziehende in Berlin, die ihnen hilft die berufliche Erfüllung mit Kindern zu vereinbaren. Noch hinzu wird ihnen mitgeteilt, wo sie konkrete Hilfe (Z:B: Zuschuss für Schwangerschaftsbekleidung und Babyerstausstattung) vor-während und nach der Schwangerschaft bis zum 3.Lebensjahr des Kindes erhalten können. Nicht zuletzt werden gewältigte Frauen empathisch gehört und über Unterstuetzungsmoeglichkeiten an Fachberatungs-und Interventionsstellen in Berlin informiert. Durch die Aktivitaeten der DuB (Interkulturelles Treffen mit Alleinerziehenden) werden die Frauen die Moeglichkeit haben, Kontakt mit anderen alleinerziehenden Frauen aus unterschiedlichen Kulturkreisen zu verknuepfen.
                        </p>
                    </div>
                        <div class="infoimg2" >
                            <img class="b-img-item" src="/images/asylfrauen.jpg" alt="">
                        </div>
                        <!--
                        <div class="infoimg2 mob-img" >
                            <img class="b-img-item" src="/images/guide.jpg" alt="">
                        </div>
                        -->
                    </div>
                </div>
                
                
                <div class="beratungblock" id="Asylverfahrensberatung">
                    <div class="" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1.5rem 0rem; color:var(--theme);">
                        <h3>Asylverfahrensberatung</h3> 
                    </div>
                    <div class="b-block">
                        <div class="beratunginfotext para">
                            
                            <p class="p-post-content">
                                Die Asylverfahrensberatung ist ein Beschaeftigungsbereich im DuB-Projekt und richtet sich an Erwachsenen und Familien. Betroffen sind Asylsuchende, Asylbewerber, die noch im Asylverfahren sind; abgelehnte Asylbewerberinnen, die gegen dem BAMF-Ablehnungsbescheid klagen möchte oder sich bereits im Klageverfahren befinden; Personen, denen einen subsidiären Schutz anerkannt wurde, die eine Klage gegen den BAMF-Ablehnungscheid erhoben möchten oder sich bereits im Asylklageverfahren befinden. Die werden über Rechtsfragen um das Thema Asyl und Migration informiert. Alternativen zum Asylverfahren  oder Moeglichkeiten des Aufenthaltsrechts in Deutschland werden Ihnen mitgeteilt. Voraussetzungen der einzelnen Schutztitel im Asylverfahren werden ihnen erläutert. Noch hinzu, Schutzsuchende werden fuer die BAMF- Anhörung vorbereitet und über die entscheidende Rolle der Anhoerung im Asylverfahren. Weiter werden Asylwerberinnen über die Notwendigkeit eines Rechtsmittels unterhaltet und unterstützt; das heisst wir empfehlen sie bei Rechtsanwälten fuer eine juristische Assistenz.  Fuer Schutzsuchende ohne Rechtsanwalt setzt sich die DuB nicht zuletzt in Verbindung mit der zuständigen Auslaenderbehoerde für Aufenthaltsfragen, Ausbildungsduldung, Beschaeftigungsduldung, Arbeitserlaubnis usw.
                            </p>
                        </div>
                        <div class="infoimg2" >
                            <img class="b-img-item" src="/images/antrag.jpg" alt="">
                        </div>
                     <!--
                    <div class="infoimg2 mob-img" >
                        <img class="b-img-item" src="/images/support.jpg" alt="">
                    </div>
                    -->
                </div>
                </div>
                <div class="beratungblock" id="Integrationsberatung">
                    <div class="" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1.5rem 0rem; color:var(--theme);">
                        <h3>Integrationsberatung</h3> 
                    </div>
                    <div class="b-block">
                    <div class="beratunginfotext para">
                       
                        <p class="p-post-content">
                            Im DuB-Projekt werden Menschen mit und ohne Migrationshintergrund im laufe ihres Integrationsprozesses unterstützt. Sie werden an Integrationskurstraeger  weitergeleitet. Unabhängig wird auch geprüft, ob Voraussetzungen zur Erteilung einer Ausbildungsduldung, Beschaeftigungsduldung, Aufenthalt  und Aufenthaltsverfestigung vorliegen. Falls ja, setzt die DuB. in Verbindung mit zuständigen Auslaenderbehoerden. Fachkräfte bzw. qualifizierte Schutzsuchende werden bei der Annerkennung ihrer auslaendischen Abschluesse und auf Ausbildungs-und arbeitsplatzsuche grundsätzlich unterstützt.
                        </p>
                    </div>
                        <div class="infoimg2" >
                            <img class="b-img-item" src="/images/social.jpg" alt="">
                        </div>
                        <!--
                        <div class="infoimg2 mob-img" >
                            <img class="b-img-item" src="/images/guide.jpg" alt="">
                        </div>
                        -->
                    </div>
                </div>
                <div class="beratungblock" id="Integrationsberatung">
                    <div class="" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1.5rem 0rem; color:var(--theme);">
                        <h3>Kriegsfluechtlingeberatung</h3> 
                    </div>
                    <div class="b-block">
                    <div class="beratunginfotext para">
                       
                        <p class="p-post-content">Im DuB-Projekt bieten wir <span class="bold"> eine spezielle Rechtsberatung für
                            Kriegsfluechtlinge aus der Ukraine an. </span> Betroffenen von dieser
                            Massnahme sind ukrainische Staatsangehörige und dann
                            Drittstaatsangehoerige, die aus der Ukraine unabhängig vom
                            Aufenthaltstatus ab dem 24.02.2022 eingereist sind. Das Kernziel
                            unserer Rechtsberatung besteht in erster Linie Schutzbedürftige über
                            ihren Rechtsstatus bzw. Sonderstatus in Deutschland zu informieren.
                            In unserer Beratungsstelle, unterstützen wir Personenkreis aus der
                            Ukraine, einen Antrag auf Leistungen nach dem SGI ( Sozialhilfe)
                            beim Sozialamt zu beantragen. Anderseits helfen wir
                            Kriegsfluechtlinge aus der Ukraine, die seit mindestens zwei Jahren
                            im Bundesgebiet aufenthalten haben, Anträge auf
                            Kostenuebernahme nach dem SGII (Arbeitslosengeld) für die
                            Sicherung des Lebensunterhalts, Miete, Heizung und medizinische
                            Versorgung beim Jobcenter zu stellen. Zudem setzen wir uns in
                            Verbindung mit der zustaendigen Auslaenderbehorde wegen
                            Aufenthaltsangelegenheiten fuer Personenkreis aus der Ukraine, der
                            Vsiumfrei in Deutschland eingereist ist und der zum Zeitpunkt des
                            Antrags seit 90 Tagen im Bundesgebiet Aufenthaltet. Den
                            Ukrainischen Staatsangehoerigen und Drittstaatsangehoerigen wird
                            die Bedeutung von Nebenbestimmungen (z.B: Wohnsitzauflage fuer
                            die Aufenthaltstitel nach § 24aufenthG, nach § 61 aufenthG usw….)
                            erklaert, die auf ihren Ausweis/Aufenthaltstitel eingetragen wurde.
                            Wir sind auch erste Ansprechpartner auf Arbeitsfragen, Einbuerg
                            erungsfragen und Fahrscheine. Wir teilen Ihnen mit, unter
                            welchen Vorraussetzungen sie die Familienleistungen ( Kindergeld,
                            Elterngeld, Unterhaltsvorschuss) bekommen können und
                            unterstützen wir sie auch dabei. Weiter informieren wir über
                            Finanzierungsmöglichkeiten ihres Studiums und Maßnahmen und
                            unterstützen bei der Antragsstellung staatlicher Leistungen und
                            namentlich die BAföG. Bei Bedarf unterstützen wir auch auf KitaJob-und Wohnungssuche und empfehlen wir sie bei Rechtsanwälten
                            für eine juristische Assistenz.
                        </p>
                    </div>
                        <div class="infoimg2" >
                            <img class="b-img-item" src="/images/ukraine.jpg" alt="">
                        </div>
                        <!--
                        <div class="infoimg2 mob-img" >
                            <img class="b-img-item" src="/images/guide.jpg" alt="">
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <section class="bd dfc dj fade-down" >   
        <div class="box" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1rem; color:var(--theme); ">
            <h3 id="rater">RATING</h3> 
        </div>
    </section>

    <section class="bd dj dfc fade down" >
        <%- include("../Partial/rating.ejs") %>
    </section>

    <section class="bd dfc dj fade-down" >   
        <div class="box" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1rem; color:var(--theme);">
            <h3 id="comments">KOMMENTARE</h3>
        </div>
    </section>

    <section class="bl dj dfc fade-down">
        <%- include("../Partial/comment.ejs") %>
    </section>
    
    
    <section class="bd dfc dj fade-down" >   
        <div class="box" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1rem;  color:var(--theme);">
            <h3 id="stats">INFORMATION</h3> 
        </div>
    </section>
    <section class="bl dj dfc fade-down" style="padding-bottom: 1.5rem;">
        <%- include("../Partial/counter.ejs") %>
    </section>

    <!--
    <section class="bl dj">
        <div class="box" style="background-color: blueviolet;"> 
            <h1>Event</h1>
            <h2></h2>
        </div>
    </section>
    -->

    <!--footer-->
    <footer class="footer">
        <%- include("../Partial/footer.ejs") %>
    </footer>
    <script src="/ckeditor/ckeditor.js" ></script>

    <%- include("../Partial/modal-spenden.ejs") %>
    <%- include("../Partial/modal-post.ejs") %>
    <%- include("../Partial/modal-comment.ejs") %>
    
    <script>
        document.querySelectorAll( 'oembed[url]' ).forEach( element => {
            // Create the <a href="..." class="embedly-card"></a> element that Embedly uses
            // to discover the media.
            const anchor = document.createElement( 'a' );
    
            anchor.setAttribute( 'href', element.getAttribute( 'url' ) );
            anchor.className = 'embedly-card';
    
            element.appendChild( anchor );
        } );
    </script>
</body>

</html>