<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="/css/scss.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/animation.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/hello.css">
    <link rel="stylesheet" href="/css/comment.css">
    <link rel="stylesheet" href="/css/rating.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/modal/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/images/DYicon.png" sizes="32x32">
    <title>DYStiftung</title>
</head>
<body>
    
     <!--    <link rel="stylesheet" href="/css/navbar.css"> -->
     <header class="bl header" data-servername="<%=servername%>">
       
        <%- include("../Partial/nav.ejs") %>
     </header>

    <!--swiper-->
    <%- include("../Partial/swiper.ejs") %>
   
    <section class="bl djc df" id="aktuelles">
        <div class="df box">
            <div class="menu" >
                <ul class="dja menu-item">
                    <li><div class="param" onclick=" updatepost('output-title', 'Alle')">ALLE</div></li>
                    <li><div class="param" onclick=" updatepost('output-title', 'Projekt')">PROJEKTE</div></li>
                    <li><div class="param" onclick=" updatepost('output-title', 'Veranstaltung')">VERANSTALTUNGEN</div></li>
                    <li><div class="param" onclick=" updatepost('output-title', 'Andere')">LIVE</div></li>
                </ul>
            </div>
            <template id="template-post">
                <div class="grid-item "  >
                    <div class="grid-item-text">
                        <div class="post-top" >
                            <span id="post-date">18.11.2022</span>
                            <div >
                                <label><i class="fa-regular fa-clipboard"></i></label>
                                <label id="post-type">Migrants</label>
                            </div>
                        </div>
                        <div class="post-content">
                            <span class="post-text">
                                <h6 id="post-name">Integration</h6>
                                <p class="p-post-content" id="post-content">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam obcaecati nostrum deserunt natus eum dolorem nulla ipsum repellendus, aperiam impedit alias vero velit ducimus saepe mollitia deleniti! Provident asperiores fuga repudiandae odit rem veritatis totam aliquid possimus consequuntur facere amet, quasi enim dicta itaque eligendi iusto quo harum accusantium ea tempora dolor. Enim nemo dolorum, vero accusantium incidunt qui totam! Similique laborum cumque voluptate laboriosam fugiat sit ab harum corrupti enim numquam accusamus, repudiandae reprehenderit omnis, obcaecati voluptatibus! Unde corporis exercitationem, magnam tempore omnis at sequi itaque a vero deleniti reiciendis qui maxime labore dolor cupiditate quasi rerum ipsum quas?
                                </p>
                                <div  style="display:flex; justify-content: center; text-align: center; ">
                                    <span class="btn-more">mehr</span> 
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="grid-item-img">
                        <img class="grip-img" id="post-image" src="images/Integration_4.jpg" alt="">
                    </div>
                </div>
            </template>
            <div class="grid" id="output-title"></div>
            <script>
                let contents = [
                    {
                        date: '18.01.2022',
                        name:'Beratung',
                        type:'Projekt',
                        text:'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam obcaecati nostrum deserunt natus eum dolorem nulla ipsum repellendus, aperiam impedit alias vero velit ducimus saepe mollitia deleniti! Provident asperiores fuga repudiandae odit rem veritatis totam aliquid possimus consequuntur facere amet, quasi enim dicta itaque eligendi iusto quo harum accusantium ea tempora dolor. Enim nemo dolorum, vero accusantium incidunt qui totam! Similique laborum cumque voluptate laboriosam fugiat sit ab harum corrupti enim numquam accusamus, repudiandae reprehenderit omnis, obcaecati voluptatibus! Unde corporis exercitationem, magnam tempore omnis at sequi itaque a vero deleniti reiciendis qui maxime labore dolor cupiditate quasi rerum ipsum quas?',
                        image:'/images/beratung.jpg'
                    },
                    {
                        date: '18.11.2022',
                        name:'Integration',
                        type:'Veranstaltung',
                        text:'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam obcaecati nostrum deserunt natus eum dolorem nulla ipsum repellendus, aperiam impedit alias vero velit ducimus saepe mollitia deleniti! Provident asperiores fuga repudiandae odit rem veritatis totam aliquid possimus consequuntur facere amet, quasi enim dicta itaque eligendi iusto quo harum accusantium ea tempora dolor. Enim nemo dolorum, vero accusantium incidunt qui totam! Similique laborum cumque voluptate laboriosam fugiat sit ab harum corrupti enim numquam accusamus, repudiandae reprehenderit omnis, obcaecati voluptatibus! Unde corporis exercitationem, magnam tempore omnis at sequi itaque a vero deleniti reiciendis qui maxime labore dolor cupiditate quasi rerum ipsum quas?',
                        image:'/images/mains.jpg'
                    },
                    {
                        date: '18.11.2022',
                        name:'Andere',
                        type:'Projekt',
                        text:'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam obcaecati nostrum deserunt natus eum dolorem nulla ipsum repellendus, aperiam impedit alias vero velit ducimus saepe mollitia deleniti! Provident asperiores fuga repudiandae odit rem veritatis totam aliquid possimus consequuntur facere amet, quasi enim dicta itaque eligendi iusto quo harum accusantium ea tempora dolor. Enim nemo dolorum, vero accusantium incidunt qui totam! Similique laborum cumque voluptate laboriosam fugiat sit ab harum corrupti enim numquam accusamus, repudiandae reprehenderit omnis, obcaecati voluptatibus! Unde corporis exercitationem, magnam tempore omnis at sequi itaque a vero deleniti reiciendis qui maxime labore dolor cupiditate quasi rerum ipsum quas?',
                        image:'/images/support.jpg'
                    },
                    {
                        date: '18.11.2022',
                        name:'Integration',
                        type:'Veranstaltung',
                        text:'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam obcaecati nostrum deserunt natus eum dolorem nulla ipsum repellendus, aperiam impedit alias vero velit ducimus saepe mollitia deleniti! Provident asperiores fuga repudiandae odit rem veritatis totam aliquid possimus consequuntur facere amet, quasi enim dicta itaque eligendi iusto quo harum accusantium ea tempora dolor. Enim nemo dolorum, vero accusantium incidunt qui totam! Similique laborum cumque voluptate laboriosam fugiat sit ab harum corrupti enim numquam accusamus, repudiandae reprehenderit omnis, obcaecati voluptatibus! Unde corporis exercitationem, magnam tempore omnis at sequi itaque a vero deleniti reiciendis qui maxime labore dolor cupiditate quasi rerum ipsum quas?',
                        image:'/images/guide.jpg'
                    },
                    {
                        date: '18.11.2022',
                        name:'Integration',
                        type:'Andere',
                        text:'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam obcaecati nostrum deserunt natus eum dolorem nulla ipsum repellendus, aperiam impedit alias vero velit ducimus saepe mollitia deleniti! Provident asperiores fuga repudiandae odit rem veritatis totam aliquid possimus consequuntur facere amet, quasi enim dicta itaque eligendi iusto quo harum accusantium ea tempora dolor. Enim nemo dolorum, vero accusantium incidunt qui totam! Similique laborum cumque voluptate laboriosam fugiat sit ab harum corrupti enim numquam accusamus, repudiandae reprehenderit omnis, obcaecati voluptatibus! Unde corporis exercitationem, magnam tempore omnis at sequi itaque a vero deleniti reiciendis qui maxime labore dolor cupiditate quasi rerum ipsum quas?',
                        image:'/images/soin.jpg'
                    },
                    {
                        date: '18.11.2022',
                        name:'Integration',
                        type:'Projekt',
                        text:'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam obcaecati nostrum deserunt natus eum dolorem nulla ipsum repellendus, aperiam impedit alias vero velit ducimus saepe mollitia deleniti! Provident asperiores fuga repudiandae odit rem veritatis totam aliquid possimus consequuntur facere amet, quasi enim dicta itaque eligendi iusto quo harum accusantium ea tempora dolor. Enim nemo dolorum, vero accusantium incidunt qui totam! Similique laborum cumque voluptate laboriosam fugiat sit ab harum corrupti enim numquam accusamus, repudiandae reprehenderit omnis, obcaecati voluptatibus! Unde corporis exercitationem, magnam tempore omnis at sequi itaque a vero deleniti reiciendis qui maxime labore dolor cupiditate quasi rerum ipsum quas?',
                        image:'/images/talk.jpg'
                    },
                ]
                
                async function getposts(){
                    endpoint = '/API/getposts'
                    let points = []
                    //points = await GetData(endpoint)
                    return points
                }
                function selectfilter( posts, param ){
                    let _posts
                    if(param && param.toLowerCase() != 'alle'){ _posts = posts.filter(post => post.type.toLowerCase() === param.toLowerCase()) }
                    else { _posts = posts}
                    return _posts
                }
                let ret = []; let posts = []
                async function loadtitle(output){
                    servername = document.querySelector('.header').dataset.servername
                    
                    ret = await getposts();
                    container = document.getElementById(output)
                    document.getElementById(output).innerHTML = ''
                    let contentimgindex = [];
                    let postblockindex = [];
                    if(/*ret?.element ==  0*/ 1) { posts = contents} else { posts = ret?.posts }

                    for (let [ind, post] of Object.entries(posts)) {
                        contentimgindex[ind] = 'post-image'+ ind
                        postblockindex[ind] = 'post-block'+ ind
                        const tmp = document.getElementById('template-post').content.cloneNode(true)
                        tmp.getElementById('post-name').innerHTML = post.name
                        shorttext = post.text
                        console.log(post.text);
                        if(post.text.length > 99) shorttext = post.text.substring(1, 100)
                        tmp.getElementById('post-content').innerHTML = shorttext
                        tmp.getElementById('post-type').innerHTML = post.type
                        tmp.getElementById('post-date').innerHTML = post.date
                        ptimage = servername + post?.image
                        if(ptimage.includes('Public')){
                            ptimage = ptimage.replace('Public/images', '')
                        }
                        tmp.querySelector('.grip-img').setAttribute ('id', contentimgindex[ind])
                        tmp.querySelector('.grid-item').setAttribute ('id', postblockindex[ind])
                        tmp.getElementById(contentimgindex[ind]).setAttribute("src", ptimage)
                        container.append(tmp)
                        document.getElementById(postblockindex[ind]).addEventListener('click', (event)=>{event.preventDefault(); showpost(post)})
                    }
                    
                }
                loadtitle('output-title')
                async function updatepost(output, param){
                    servername = document.querySelector('.header').dataset.servername
                    container = document.getElementById(output)
                    document.getElementById(output).innerHTML = ''
                    let contentimgindex = [];
                    let postblockindex = [];
                    if(/*ret?.element ==  0*/ 1) { posts = contents} else { posts = ret?.posts }
                    posts = selectfilter( posts, param )
                    for (let [ind, post] of Object.entries(posts)) {
                        contentimgindex[ind] = 'post-image'+ ind
                        postblockindex[ind] = 'post-block'+ ind
                        const tmp = document.getElementById('template-post').content.cloneNode(true)
                        tmp.getElementById('post-name').innerHTML = post.name
                        shorttext = post.text
                        if(post.text.length > 99) shorttext = post.text.substring(1, 100)
                        tmp.getElementById('post-content').innerHTML = shorttext
                        tmp.getElementById('post-type').innerHTML = post.type
                        tmp.getElementById('post-date').innerHTML = post.date
                        ptimage = servername + post?.image
                        if(ptimage.includes('Public')){
                            ptimage = ptimage.replace('Public/images', '')
                        }
                        tmp.querySelector('.grip-img').setAttribute ('id', contentimgindex[ind])
                        tmp.querySelector('.grid-item').setAttribute ('id', postblockindex[ind])
                        tmp.getElementById(contentimgindex[ind]).setAttribute("src", ptimage)
                        container.append(tmp)
                        document.getElementById(postblockindex[ind]).addEventListener('click', (event)=>{event.preventDefault(); console.log('modal'+ind); showpost(post)})
                    }
                    
                }
                
            </script>
        </div>
    </section>


    <div class="bd dfc dj fade-down" style="padding:1rem;" id="stiftung">   
        <div class="box block" >
            <div class="infoblock">
                <div class="blockimg dfc">
                    <div class="infoimg">
                        <img class="img-item" src="/images/beratung.jpg" alt="">
                    </div>
                    <div style="margin: 1rem; font-size: 1rem;justify-content: center; color: var(--theme); font-weight: 700;">Denise Yomi</div>
               
                    <p class="p-post-content">
                    Denise Yomi ist eine zertifizierte Integrations-und Migrationsberaterin,
                    Systemische Coachin, kamerunischer Nationalitaet, die sich auf Gefluechtete
                    und Migranten spezialisiert hat. Frueher hat sie Germanistik mit „Deutscher
                    Kulturgeschichte“ als Spezialisierung bis zum Masterjahrgang studiert. Denise
                    Yomi hat demnaechst vor, eine Promotion in der Studienrichtung Integration
                    und Migration aufzunehmen.
                    </p>
                     </div>
                <div class="infotext">
                    <div class="infotitle">
                        <h3>STIFTUNG</h3> 
                    </div>
                    <p class="p-post-content">
                        Seit 06/2022 hat Denise Yomi die Initiative
                        getroffen, Gefluechtete und Migranten in Deutschland durch eine
                        Online Beratung und sie bei zustaendigen Behoerden und Aemtern
                        gemeinnuetzig zu unterstuetzen. Aus ihren Erfahrungen mit Gefluechteten und
                        mit Menschen mit Migrationshintergrund hat Denise Yomi die
                        gemeinnuetzige Stiftung „Denise Yomi „ ins Leben gerufen, damit mehr
                        Gefluechte und Migranten auf der Grundlage der Ideen der
                        Humanitaeren Hilfe auf Rechts-Asyl-Migrations-Integrations- und
                        Sozialfragen geholfen werden.Mit Ihrem Engagement fuer Gefluechte und
                        MigrantInen, unterstuetzt die DYs den Integrationsprozess
                        Menschen in Deutschland durch Stipendienvergabe an gefluechteten ohne Schulabschluss, -an Alleinerziehenden, die mit Ihrem
                        Integrationskurs unterbrochen haben und -an Studierenden in finanzieller
                        Notlage, deren Sprachkurs nicht abgeschlossen werden kann. Die Stifterin
                        haelt an den Slogan „ Wer sich integriert laesst, fuehlt sich zuhause“ fest.
                    </p>
                </div>
                
            </div>
        </div>
    </div>


    <div class="bd dj dfc fade-down" style="padding: 0rem 1rem;" id="stipendien">   
        <div class="box block" >
            <div class="infoblock">
                <!--
                <div class="infoimg">
                    <img class="img-item" src="/images/talk.jpg" alt="">
                </div>
                -->
                <div class="infotext">
                    <div class="infotitle" >
                        <h3>STIPENDIEN</h3>
                    </div>
                    <p class="p-post-content">
                        Der Integrationsprozess Schutzsuchender und Migrant*Innen geht
                        Hand in Hand mit Integrationskurs. Aus unterschiedlichen Gründen
                        Schließen nur wenige Geflüchtete davon alleinerziehende
                        Mütter ihren Integrationskurs ab während manchen Studierenden in
                        finanzieller Notlage ihren Sprachkurs unterbrochen haben. Durch das
                        Hilfesprogramm fuer Migranten und Gefluechte in
                        Deutschland HAMIGEDE unterstuetzt die Denise Yomi Stiftung den
                        Integrationsprozess in Deutschand durch die Vergabe von
                        Sprachstipendien an Geflüchteten und Migranten. Betroffen
                        von dieser Initiative sind Gefluechten ohne Schulabschluss
                        im Rahmen des Sprachstipendiums „ SAGOS“ ( Sprachstipendium für
                        Geflüchtete Ohne Schulabschluss); dann 
                        Alleinerziehende Mütter im Rahmen des Sprachstipendiums „ SAAM“
                        (Sprachstipendium für Alleinerziehende Mütter) und letztlich
                         Studierende in Finanzieller Notlage im Rahmen des
                        Sprachstipendiums „SASFIN“ (Sprachstipendium für 
                        Studierende in Finanzieller Notlage) einmalig im Wert von 300 EUR
                        sobald Nachweise der Bedürftigkeit, der Unterbrechung des
                        Integrationskurs/Sprachkurs oder der Ledigkeit vorgelegt werden können.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section class="bd dfc dj fade-down" id="stipendium">   
        <div class="box" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1rem; color:var(--theme); ">
            <h3 id="beratung">BERATUNG</h3> 
        </div>
    </section>
    <div class="bd dfc dj fade-down">   
        <div class="" style="background-color: transparent;">
            <div class="beratunggrid" >
                <div class="beratungblock">
                    <div class="" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1.5rem 0rem; color:var(--theme);">
                        <h3>Sozialberatung</h3> 
                    </div>
                    <div class="b-block">
                        <div class="beratunginfotext">
                        
                            <p class="p-post-content">
                                Ziel der Sozialberatung bei der DYs ist die Hilfe zur Selbsthilfe und die
                                Befähigung zu einem gleichbeachteten Leben in der Gemeinschaft. Durch
                                unsere Beratung koennen Gefluechtete Hilfe bei
                                untersschiedlichen Problemen bekommen; unser Angebot umfasst
                                folgende Augabenschwerpunkte: Die Sozialberatung (Hilfestellung bei
                                Antraege WBS, Kitaplaetzsuche; Schwangerschaftsberatung durch
                                Unterstuetzungsangebote und die Weiterleitung bei Einrichtungen; denn
                                diese ist auch eine Stelle für Beratung und Begegnung. die Jugend-und
                                Familienhilfe (Vaterschaft, Sorgerecht, ); die Hilfestellung bei Antraegen
                                auf Sozialleistungen (AsylbLG,SGII, SGI, SGXII) und auf staatliche
                                Leistungen (Kindergeld, UVG, BaFoeG). Noch hinzu werden
                                Schutzsuchende auf Versicherungsfragen informiert. Bei der DYs finden
                                Oepfer des Folters, des Rassismus und der Diskrimierung finden ein
                                attentives Ohr und danach bei antidiskriminierungs-und antirassistische
                                Stelle weitergeleitet. Nicht zuletzt Menschen in
                                Problemloesungs-und Veraenderungsprozesse werden auch durch ein
                                Sozial-Coaching unterstuetzt.
                            </p>
                        </div>
                        <div class="infoimg2" >
                            <img class="b-img-item" src="/images/details.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="beratungblock">
                    <div class="" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1.5rem 0rem; color:var(--theme);">
                        <h3>Migrationsberatung</h3> 
                    </div>
                    <div class="b-block">
                        <div class="beratunginfotext">
                            <p class="p-post-content">
                                Die Migrationsberatung für Erwachsene Zuwanderer (MBE) ist
                                speziell ein Beratungsangebot der Denise Yomi Stiftung. Es zielt darauf ,
                                zugewanderte Personen bzw. von bereits länger in Berlin lebenden
                                Migrant*Innen mit dem Schwerpunkt der Beratung in den Rechtskreisen
                                der SGII, SGIII, SGXII zu unterstützen. Die Migrationsberatung soll
                                Zugewanderte zu Selbstständigen Handeln in allen Angelegenheiten des
                                taeglichen Lebens befaehigen. Aufgabenschwerpunkte der Stiftung liegt
                                bei der Hilfe bei den vielfaeltigen Problemlagen von Migrant*Innen im
                                Alltag; bei der Begleitung des Integrationsprozesses von Migratinnen durch
                                ein bedarforientiertes, individuelles Beratungsangebot; bei der Beratung
                                und Begleitung der Klienten im Sinne eines Case Managements; Bei der
                                Begleitung waehrend des Integrationskurses; bei individuellem Bedarf und
                                bei der Hilfestellung; bei auslaendischen Fragen; bei Fragen zu Arbeit; bei
                                der Anerkennung auslaendischer Bildungs-und Berufsabschluesse; bei der
                                sozialen Versorgung; bei der Kooperation mit Instititionen und Behoerden
                                der Integrationsfoerderung und der Beratungsdienste; bei der Hilfe zur
                                Antragstellung staatlicher und Sozialleistungen (Kindergeld, UVG, SGII,
                                SGI, SGXII)
                            </p>
                        </div>
                        <div class="infoimg2" >
                            <img class="b-img-item" src="/images/tente.jpg" alt="">
                        </div>
                    </div>
                    
                </div>
                <div class="beratungblock">
                    <div class="" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1.5rem 0rem; color:var(--theme);">
                        <h3>Integrationsberatung</h3> 
                    </div>
                    <div class="b-block">
                    <div class="beratunginfotext">
                       
                        <p class="p-post-content">
                            Bei der Denise Yomi Stiftung (DYs) werden Geflüchtete
                            und Menschen mit Migrationshintergrund im laufe ihres
                            Integrationsprozesses unterstützt. Sie werden zu zuständigen
                            Sprachzentren fuer Integrationskurs weitergeleitet. Unabhängig wird auch
                            geprueft, ob Voraussetzungen zur Erteilung einer Ausbildungsduldung,
                            Beschaeftigungsduldung, Aufenthalt und Aufenthaltsverfestigung
                            vorliegen. Falls ja, setzt sich die Stiftung in Verbindung mit zuständigen
                            Behoerden. Fachkraefte bzw. qualifizierte Schutzsuchende werden bei der
                            Anerkennung ihrer ausländischen Abschlüsse und bei der Ausbildungs-und
                            arbeitsplatzsuche grundsätzlich unterstützt.
                        </p>
                    </div>
                    <div class="infoimg2" style="padding: 0rem .5rem;">
                        <img class="b-img-item" src="/images/social.jpg" alt="">
                    </div>
                    <div class="infoimg2" style="padding: 0rem .5rem;">
                        <img class="b-img-item" src="/images/social.jpg" alt="">
                    </div>
                </div>
                </div>
                <div class="beratungblock">
                    <div class="" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1.5rem 0rem; color:var(--theme);">
                        <h3>Asylberatung</h3> 
                    </div>
                    <div class="b-block">
                    <div class="beratunginfotext">
                        
                        <p class="p-post-content">
                            Die Asylberatung ist ein Angebot der Denise Yomi Stiftung, durch
                            welches Asylbewerber bzw. Schutzsuchende ueber Rechtsfragen um das
                            Thema Asyl und Migration, ueber Verfahrenswege und Moeglichkeiten
                            des Aufenthaltsrechts in Deutschland informiert werden. Noch hinzu,
                            Schutzsuchende werden fuer Anhoerung bei dem Bundesamt fuer
                            Migration und Fluechtling (BAMF) vorbereitet. Bei Bedarf werden Sie
                            auch bei Rechtsanwaelten fuer eine juristische Assistenz weitergeleitet.
                            Nicht zuletzt setzt sich die Stiftung in Verbindung mit der zuständigen
                            Auslaenderbehoerde fuer Aufenthaltsfragen, Ausbildungsduldung,
                            Beschaeftigungsduldung, Arbeitserlaubnis usw.
                        </p>
                    </div>
                    <div class="infoimg2" style="padding: 0rem .5rem;">
                        <img class="b-img-item" src="/images/tente.jpg" alt="">
                    </div>
                    <div class="infoimg2" style="padding: 0rem .5rem;">
                        <img class="b-img-item" src="/images/tente.jpg" alt="">
                    </div>
                </div>
                </div>
                
            </div>
        </div>
    </div>
 
    <section class="bd dfc dj fade-down" >   
        <div class="box" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1rem; color:var(--theme); ">
            <h3 id="rater">RATING</h3> 
        </div>
    </section>

    <section class="bd dj dfc fade down" >
        <%- include("../Partial/rating.ejs") %>
    </section>

    <section class="bd dfc dj fade-down" >   
        <div class="box" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1rem; color:var(--theme);">
            <h3 id="comments">COMMENTS</h3> 
        </div>
    </section>

    <section class="bd dj dfc fade-down">
        <%- include("../Partial/comment.ejs") %>
    </section>
    
    
    <section class="bl dfc dj fade-down" >   
        <div class="box" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1rem;  color:var(--theme);">
            <h3 id="stats">STAT</h3> 
        </div>
    </section>
    <section class="bl dj dfc fade-down" style="padding-bottom: 1.5rem;">
        <%- include("../Partial/counter.ejs") %>
    </section>

    <!--
    <section class="bl dj">
        <div class="box" style="background-color: blueviolet;"> 
            <h1>Event</h1>
            <h2></h2>
        </div>
    </section>
    -->

    <!--footer-->
    <footer class="footer">
        <%- include("../Partial/footer.ejs") %>
    </footer>
    <script src="/ckeditor/ckeditor.js" ></script>
    <%- include("../Partial/modal-spenden.ejs") %> 
    <%- include("../Partial/modal-post.ejs") %>
    
    <script>
        document.querySelectorAll( 'oembed[url]' ).forEach( element => {
            // Create the <a href="..." class="embedly-card"></a> element that Embedly uses
            // to discover the media.
            const anchor = document.createElement( 'a' );
    
            anchor.setAttribute( 'href', element.getAttribute( 'url' ) );
            anchor.className = 'embedly-card';
    
            element.appendChild( anchor );
        } );
    </script>
</body>

</html>