<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="/css/scss.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/animation.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/hello.css">
    <link rel="stylesheet" href="/css/comment.css">
    <link rel="stylesheet" href="/css/rating.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/modal/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/images/DYicon.png" sizes="32x32">
    <title>DYStiftung</title>
</head>
<body>
    
     <!--    <link rel="stylesheet" href="/css/navbar.css"> -->
     <header class="bl header" data-servername="<%=servername%>">
       
        <%- include("../Partial/nav.ejs") %>
     </header>

    <!--swiper-->
    <%- include("../Partial/swiper.ejs") %>
   
    <section class="bl djc df" id="aktuelles">
        <div class="df box">
            <div class="menu" >
                <ul class="dja menu-item">
                    <li><div class="param" onclick=" updatepost('output-title', 'Alle')">ALLE</div></li>
                    <li><div class="param" onclick=" updatepost('output-title', 'Projekt')">PROJEKTE</div></li>
                    <li><div class="param" onclick=" updatepost('output-title', 'Veranstaltung')">VERANSTALTUNGEN</div></li>
                    <li><div class="param" onclick=" updatepost('output-title', 'Andere')">LIVE</div></li>
                </ul>
            </div>
            <template id="template-post">
                <div class="grid-item "  >
                    <div class="grid-item-text">
                        <div class="post-top" >
                            <span id="post-date">18.11.2022</span>
                            <div >
                                <label><i class="fa-regular fa-clipboard"></i></label>
                                <label id="post-type">Migrants</label>
                            </div>
                        </div>
                        <div class="post-content">
                            <span class="post-text">
                                <h6 id="post-name">Integration</h6>
                                <p class="p-post-content" id="post-content">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam obcaecati nostrum deserunt natus eum dolorem nulla ipsum repellendus, aperiam impedit alias vero velit ducimus saepe mollitia deleniti! Provident asperiores fuga repudiandae odit rem veritatis totam aliquid possimus consequuntur facere amet, quasi enim dicta itaque eligendi iusto quo harum accusantium ea tempora dolor. Enim nemo dolorum, vero accusantium incidunt qui totam! Similique laborum cumque voluptate laboriosam fugiat sit ab harum corrupti enim numquam accusamus, repudiandae reprehenderit omnis, obcaecati voluptatibus! Unde corporis exercitationem, magnam tempore omnis at sequi itaque a vero deleniti reiciendis qui maxime labore dolor cupiditate quasi rerum ipsum quas?
                                </p>
                                <div  style="display:flex; justify-content: center; text-align: center; ">
                                    <span class="btn-more">mehr</span> 
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="grid-item-img">
                        <img class="grip-img" id="post-image" src="images/Integration_4.jpg" alt="">
                    </div>
                </div>
            </template>
            <div class="grid" id="output-title"></div>
            <script>
                let contents = [
                    {
                        date: '15.02.2023',
                        name:'Ein Treffpunkt für Alleinerziehende',
                        type:'Projekt',
                        text:'Die DuB e.v. hat vor, bald ein Begegungszentrum fuer alleinerziehende Muetter (Gefluechtete und Migranten) in seiner Stelle zu oeffnen. Das Zentrum sollte dabei interkulturelle Kontakte zwischen Kinder einerseits und zwischen Muetter andereseits knuepfen.Es koennte auch den Anlass zum Erfahrugsaustausch (Rat usw) sein. Weiter ist ein gegenseitige Unterstuetzung in der Kinderbetreuung im Rahmen dieses Projekt nicht ausgeschlossen.',
                        image:'/images/beratung.jpg'
                    },
                    {
                        date: '25.02.2023',
                        name:'Ein Herz für bedürftige Familien',
                        type:'Projekt',
                        text:'Geflüchtete Familien und Familien mit Migrationshintergrund in Notlage koennen Unterstützung bei der DuB e.v einmalig, dauerhaft oder aus bestimmten Anlass unterstuetzt werden. Aus vielfaeltigen Gründen (ZB: Babyerstausstatung für Alleinerziehende, eine schwere Krankheit in der Erwerbstätigkeit, der Tod eines Partners,der Verlust eines Arbeitsplatzes, wenn Einkommen des Interessenten nicht ausreichend oder wenn die Hilfe der Familie auf andere Weise nicht möglich ist) kann die DuB.e.v. in Vorleistung gehen. Es geht um eine Geldschenkung, die nicht zurück gezahlt werden muss. Damit die DuB e.v. Geflüchtete, Migranten und bedürftige Familien intensiv helfen kann, ist sie auf Spende angewiesen. Spende können an der DuB e.v. Spendekonto gerichtet werden.',
                        image:'/images/mains.jpg'
                    },
                    {
                        date: '18.11.2022',
                        name:'Beispiele',
                        type:'Veranstaltung',
                        text:'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam obcaecati nostrum deserunt natus eum dolorem nulla ipsum repellendus, aperiam impedit alias vero velit ducimus saepe mollitia deleniti! Provident asperiores fuga repudiandae odit rem veritatis totam aliquid possimus consequuntur facere amet, quasi enim dicta itaque eligendi iusto quo harum accusantium ea tempora dolor. Enim nemo dolorum, vero accusantium incidunt qui totam! Similique laborum cumque voluptate laboriosam fugiat sit ab harum corrupti enim numquam accusamus, repudiandae reprehenderit omnis, obcaecati voluptatibus! Unde corporis exercitationem, magnam tempore omnis at sequi itaque a vero deleniti reiciendis qui maxime labore dolor cupiditate quasi rerum ipsum quas?',
                        image:'/images/support.jpg'
                    },
                    /*{
                        date: '18.11.2022',
                        name:'Integration',
                        type:'Veranstaltung',
                        text:'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam obcaecati nostrum deserunt natus eum dolorem nulla ipsum repellendus, aperiam impedit alias vero velit ducimus saepe mollitia deleniti! Provident asperiores fuga repudiandae odit rem veritatis totam aliquid possimus consequuntur facere amet, quasi enim dicta itaque eligendi iusto quo harum accusantium ea tempora dolor. Enim nemo dolorum, vero accusantium incidunt qui totam! Similique laborum cumque voluptate laboriosam fugiat sit ab harum corrupti enim numquam accusamus, repudiandae reprehenderit omnis, obcaecati voluptatibus! Unde corporis exercitationem, magnam tempore omnis at sequi itaque a vero deleniti reiciendis qui maxime labore dolor cupiditate quasi rerum ipsum quas?',
                        image:'/images/guide.jpg'
                    },
                    {
                        date: '18.11.2022',
                        name:'Integration',
                        type:'Andere',
                        text:'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam obcaecati nostrum deserunt natus eum dolorem nulla ipsum repellendus, aperiam impedit alias vero velit ducimus saepe mollitia deleniti! Provident asperiores fuga repudiandae odit rem veritatis totam aliquid possimus consequuntur facere amet, quasi enim dicta itaque eligendi iusto quo harum accusantium ea tempora dolor. Enim nemo dolorum, vero accusantium incidunt qui totam! Similique laborum cumque voluptate laboriosam fugiat sit ab harum corrupti enim numquam accusamus, repudiandae reprehenderit omnis, obcaecati voluptatibus! Unde corporis exercitationem, magnam tempore omnis at sequi itaque a vero deleniti reiciendis qui maxime labore dolor cupiditate quasi rerum ipsum quas?',
                        image:'/images/soin.jpg'
                    },
                    {
                        date: '18.11.2022',
                        name:'Integration',
                        type:'Projekt',
                        text:'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam obcaecati nostrum deserunt natus eum dolorem nulla ipsum repellendus, aperiam impedit alias vero velit ducimus saepe mollitia deleniti! Provident asperiores fuga repudiandae odit rem veritatis totam aliquid possimus consequuntur facere amet, quasi enim dicta itaque eligendi iusto quo harum accusantium ea tempora dolor. Enim nemo dolorum, vero accusantium incidunt qui totam! Similique laborum cumque voluptate laboriosam fugiat sit ab harum corrupti enim numquam accusamus, repudiandae reprehenderit omnis, obcaecati voluptatibus! Unde corporis exercitationem, magnam tempore omnis at sequi itaque a vero deleniti reiciendis qui maxime labore dolor cupiditate quasi rerum ipsum quas?',
                        image:'/images/talk.jpg'
                    },*/
                ]
                
                async function getposts(){
                    endpoint = '/API/getposts'
                    let points = []
                    //points = await GetData(endpoint)
                    return points
                }
                function selectfilter( posts, param ){
                    let _posts
                    if(param && param.toLowerCase() != 'alle'){ _posts = posts.filter(post => post.type.toLowerCase() === param.toLowerCase()) }
                    else { _posts = posts}
                    return _posts
                }
                let ret = []; let posts = []
                async function loadtitle(output){
                    servername = document.querySelector('.header').dataset.servername
                    
                    ret = await getposts();
                    container = document.getElementById(output)
                    document.getElementById(output).innerHTML = ''
                    let contentimgindex = [];
                    let postblockindex = [];
                    if(/*ret?.element ==  0*/ 1) { posts = contents} else { posts = ret?.posts }

                    for (let [ind, post] of Object.entries(posts)) {
                        contentimgindex[ind] = 'post-image'+ ind
                        postblockindex[ind] = 'post-block'+ ind
                        const tmp = document.getElementById('template-post').content.cloneNode(true)
                        tmp.getElementById('post-name').innerHTML = post.name
                        shorttext = post.text
                        console.log(post.text);
                        if(post.text.length > 99) shorttext = post.text.substring(0, 100)
                        tmp.getElementById('post-content').innerHTML = shorttext
                        tmp.getElementById('post-type').innerHTML = post.type
                        tmp.getElementById('post-date').innerHTML = post.date
                        ptimage = servername + post?.image
                        if(ptimage.includes('Public')){
                            ptimage = ptimage.replace('Public/images', '')
                        }
                        tmp.querySelector('.grip-img').setAttribute ('id', contentimgindex[ind])
                        tmp.querySelector('.grid-item').setAttribute ('id', postblockindex[ind])
                        tmp.getElementById(contentimgindex[ind]).setAttribute("src", ptimage)
                        container.append(tmp)
                        document.getElementById(postblockindex[ind]).addEventListener('click', (event)=>{event.preventDefault(); showpost(post)})
                    }
                    
                }
                loadtitle('output-title')
                async function updatepost(output, param){
                    servername = document.querySelector('.header').dataset.servername
                    container = document.getElementById(output)
                    document.getElementById(output).innerHTML = ''
                    let contentimgindex = [];
                    let postblockindex = [];
                    if(/*ret?.element ==  0*/ 1) { posts = contents} else { posts = ret?.posts }
                    posts = selectfilter( posts, param )
                    for (let [ind, post] of Object.entries(posts)) {
                        contentimgindex[ind] = 'post-image'+ ind
                        postblockindex[ind] = 'post-block'+ ind
                        const tmp = document.getElementById('template-post').content.cloneNode(true)
                        tmp.getElementById('post-name').innerHTML = post.name
                        shorttext = post.text
                        if(post.text.length > 99) shorttext = post.text.substring(0, 100)
                        tmp.getElementById('post-content').innerHTML = shorttext
                        tmp.getElementById('post-type').innerHTML = post.type
                        tmp.getElementById('post-date').innerHTML = post.date
                        ptimage = servername + post?.image
                        if(ptimage.includes('Public')){
                            ptimage = ptimage.replace('Public/images', '')
                        }
                        tmp.querySelector('.grip-img').setAttribute ('id', contentimgindex[ind])
                        tmp.querySelector('.grid-item').setAttribute ('id', postblockindex[ind])
                        tmp.getElementById(contentimgindex[ind]).setAttribute("src", ptimage)
                        container.append(tmp)
                        document.getElementById(postblockindex[ind]).addEventListener('click', (event)=>{event.preventDefault(); console.log('modal'+ind); showpost(post)})
                    }
                    
                }
                
            </script>
        </div>
    </section>


    <div class="bd dfc dj fade-down" style="padding:1rem;" id="stiftung">   
        <div class="box block" >
            <div class="infoblock">
                <div class="blockimg dj">
                    <div class="infoimg">
                        <img class="img-item" src="/images/beratung.jpg" alt="">
                    </div>
                    <!--
                    <div style="margin: 1rem; font-size: 1rem;justify-content: center; color: var(--theme); font-weight: 700;">Denise Yomi</div>
                        <p class="p-post-content">
                            Das DuB-Projekt ist eine Initiative von Denise Yomi, eine zertifizierte
                            Integrations-und Migrationsberaterin, Systemische Coachin,
                            kamerunischer Nationalitaet, die sich auf Gefluechtete und Migranten
                            spezialisiert hat. Frueher hat sie Germanistik mit „Deutscher
                            Kulturgeschichte“ als Spezialisierung bis zum Masterjahrgang studiert.
                            Denise Yomi hat demnaechst vor, eine Promotion in der Studienrichtung
                            Integration und Migration/Rassismus aufzunehmen.
                        </p>
                    </div>
                -->
                <div class="infotext">
                    <div class="infotitle">
                        <h3>Denise Unterstuetzungs-und Beratungstelle
                            fuer Gefluechte und Migranten e.v.</h3> 
                    </div>
                    <p class="p-post-content">
                        Das <span class="bold">DuB-Projekt</span> ist eine Initiative von <span class="bold"> Denise Yomi</span>, eine zertifizierte
                        Integrations-und Migrationsberaterin, Systemische Coachin,
                        kamerunischer Nationalitaet, die sich auf Gefluechtete und Migranten
                        spezialisiert hat. Frueher hat sie Germanistik mit „Deutscher
                        Kulturgeschichte“ als Spezialisierung bis zum Masterjahrgang studiert.
                        Denise Yomi hat demnaechst vor, eine Promotion in der Studienrichtung
                        Integration und Migration/Rassismus aufzunehmen.
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bd dfc dj fade-down" style="padding:1rem;" id="stiftung">   
        <div class="box block" >
            <div class="infoblock">
                <div class="infotext">
                    <div class="infotitle">
                        <h3>DuB-Projekt</h3> 
                    </div>
                    <p class="p-post-content">
                        Immer mehr kommen Gefluechtete in Deutschland an und stellen einen
                        Asylantrag. Die sind verpflichtet nur in Wohnheimen zu wohnen. Es fehlte
                        ihnen erste Informationen ueber das Leben in Deutschland und wissen nicht
                        genau wie sie sich bewegen koennen. Zudem haben diese keine
                        Rechtskenntnisse zum Asylverfahren waehrend andere sich aktiv
                        bemuehlen, Anzeigen auf Sozialnetzwerke freizuschalten und auf Hilfe im
                        Asylverfahren und fuer weitere Aufenthalts-und Sozialfragen in
                        Gemeinschaftsgruppen bitten. Einige dagegen berichten Opfer des
                        Rassismuses im Alltag zu sein. Aus dieser Perspektive betrachtet, traf
                        <span class="bold">Denise Yomi seit dem 11.06.2022 </span> die Initiative, Geflüchtete und
                        Migranten ohne Unterscheidung von Rasse und Herkunft in Berlin und in
                        anderen Regionen in Deutschland <span class="bold"> durch eine Online Beratung bei Fragen:
                        <!--
                        <ul>
                            <li class="p-post-content"> zur Integration </li>
                            <li> Zu Rechtsfragen</li>
                            <li> zum Asylrecht</li>
                            <li> zum Aufenthaltsrecht</li>
                            <li> zum Sozialrecht</li>
                            <li> Zum Migrationsrecht</li>
                            <li> Zu Versicherungsfragen und zu weiteren Beratungsbereichen</li>
                        </ul>
                        -->
                        • zur Integration,
                        • Zu Rechtsfragen,
                        • zum Asylrecht,
                        • zum Aufenthaltsrecht,
                        • zum Sozialrecht
                        • Zum Migrationsrecht
                        • Zu Versicherungsfragen und zu weiteren Beratungsbereichen
                        kostenlos durch das DuB-Projekt zu unterstuetzen </span>. Zudem hat Denise
                        Yomi zahlreiche Schutzsuchende und Migranten bei ihren
                        zustaendigen Behoerden und Aemtern fuer unterschiedliche
                        Anliegen (Arbeitserlaubnis, Beschaeftigungsduldung,
                        Ausbildungsduldung, Geburtsurkunde, Annerkennung
                        auslaendischer Studienabschluesse, Haertefall, Jobcenter,
                        Sozialamt, Agentuer fuer Arbeit usw.) plaediert und unterstuetzt,
                        die keine rechtsanwaeltliche Assistenz hatten.
                        Speziell bei dem  ist die Unterstuetzung von Familien in Not
                        und die Vergabe von Sprachstipendien auf der Grundlage der Humanitären
                        Hilfe. Denise Yomi als Integrations-und Migrationsberaterin arbeitet
                        zurzeit gemeinnützig mit etwa 10 Ehrenamtlichen aus unterschiedlichen
                        Laendern in Berlin und haelt den Slogan <span class="italic">„ Wer sich integriert laesst ,
                        befindet sich zuhause“</span> fest.
                    </p>
                </div>
                
            </div>
        </div>
    </div>

    <div class="bd dj dfc fade-down" style="padding: 0rem 1rem;" id="stipendien">   
        <div class="box block" >
            <div class="infoblock">
                <!--
                <div class="infoimg">
                    <img class="img-item" src="/images/talk.jpg" alt="">
                </div>
                -->
                <div class="infotext">
                    <div class="infotitle" >
                        <h3>STIPENDIEN</h3>
                    </div>
                    <p class="p-post-content">
                        Der Integrationsprozess der Schutzsuchende geht Hand in Hand mit
                        Integrationskurs. Nur zahlreiche Geflüchtete haben keinen Schulabschluss
                        und demzufolge keine Deutschkenntnisse. Ein Teil davon hat mit
                        Integrationskurs angefangen und hat danach aus unterschiedlichen
                        Gründen (die Mutterschaft, die Krankheit usw.) die Bildung gestoppt. Ein
                        anderer Teil wartet seit mehreren Monaten auf einen Platz bei einem
                        Betreiber des Integrationskurses (Vhs, Malteser, Caritas, Diakonie, DRK
                        usw.…) leider ohne Erfolg und sollte sich endlich bei privaten
                        Sprachzentren für Deutschkurs anmelden, was mit hohen Kosten
                        verbunden wird. Neben dieser Kategorie von Geflüchteten bestehen auch
                        MigrantInnen, die nach Deutschland zum Studienzweck geflogen sind und
                        ihre Sprachkurse aus finanziellen Gründen nicht abschließen können. Die
                        DuB e.v. unterstuetzt den Integrationsprozess von Schutzsuchenden und
                        MigrantInnen durch die Vergabe von Sprachsstipendien, Sobald
                        Interessierte Nachweisse der Unterbrechung ihres Integrationskurses, ihrer
                        Erstanmeldung bei einem Betreiber des Integrationskurses oder ihrer
                        Hilfebeduerftigkeit vorgelegt werden koennen. Gefluechtete und
                        MigrantInnen koennen zu diesem Zeitpunkt ein Antrag auf Vergabe eines
                        Sprachsstipendiums in einem der drei folgenden Programme stellen:
                        • Sprachsstipendium fuer Gefluechtete Ohne Schulabschluss
                        „SGOS“-Programm
                        • Sprachsstipendium fuer alleinerziehende Muetter „SAM“-
                        Programm
                        • Sprachsstipendium fuer Nicht-EU Studierende in Finanzieller
                        Notlage „SNESFIN-Programm
                        Stipendien werden einmalig in Hoehe von 140 bis 300 Euro
                        vergeben und dienen nur als Pruefungspreisen fuer GeotheZertifikate.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section class="bd dfc dj fade-down" id="stipendium">   
        <div class="box" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1rem; color:var(--theme); ">
            <h3 id="beratung">BERATUNG</h3> 
        </div>
    </section>
    <div class="bd dfc dj fade-down">   
        <div class="" style="background-color: transparent;">
            <div class="beratunggrid" >
                <div class="beratungblock">
                    <div class="" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1.5rem 0rem; color:var(--theme);">
                        <h3>Sozialberatung</h3> 
                    </div>
                    <div class="b-block">
                        <div class="beratunginfotext">
                        
                            <p class="p-post-content">
                                Ziel unserer Sozialberatung ist die Hilfe zur Selbsthilfe und die
                                Befaehigung zu einem gleichbeachteten Leben in der Gemeinschaft. In
                                unsere Beratungsstelle, koennen Geflüchtete Hilfe bei unterschiedlichen
                                Problemen bekommen; unser Angebot umfasst folgende
                                Augabenschwerpunkte:
                                • Die Sozialberatung (Hilfestellung bei Anträgen WBS,
                                Wohnungssuche, Kitaplaetzsuche),
                                • Die Schwangerschaftsberatung und Unterstuetzungsangebote (Z.B
                                Vaterschaft /Sorgerecht, die Weiterleitung bei Einrichtungen; denn
                                die DuB e.v. hat das Projekt ein Begegnungszentrum fuer Mutterund Kind (Vaterschaft und Sorgerecht ),
                                • Die Hilfestellung bei Anträgen auf Sozialleistungen (AsylbLG,
                                SGII, SGI, SGXII) und auf staatliche Leistungen (Kindergeld,
                                UVG, Wohngeld, BaFoeG). Noch hinzu werden Schutzsuchende
                                auf Versicherungsfragen informiert,
                                • Bei der DuB e.v. finden Oepfer des Folters, des Rassismus und der
                                Diskrimierung ein attentives Ohr und werden danach bei
                                antidiskriminierungs-und antirassistische Stelle weitergeleitet,
                                • Zusaetzlich Menschen in Problemloesungs-und
                                Veraenderungsprozesse werden auch durch ein Sozial-Coaching
                                unterstuetzt.
                            </p>
                        </div>
                        <div class="infoimg2" >
                            <img class="b-img-item" src="/images/details.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="beratungblock">
                    <div class="" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1.5rem 0rem; color:var(--theme);">
                        <h3>Migrationsberatung (MBE)</h3> 
                    </div>
                    <div class="b-block">
                        <div class="beratunginfotext">
                            <p class="p-post-content">
                                Die Migrationsberatung für Erwachsene Zuwanderer (MBE) fuer
                                Menschen über 27 Jahre alt ist speziell ein Beratungsangebot der DuB e.v.
                                Sie zielt darauf , zugewanderte Personen bzw. von bereits laenger in Berlin
                                lebenden MigrantInnen mit dem Schwerpunkt der Beratung in den
                                Rechtskreisen der SGI, SGII, SGXII zu unterstützen. Die
                                Migrationsberatung soll Zugewanderte zu selbstständigen Handeln in allen
                                Angelegenheiten des täglichen Lebens befähigen. Aufgabenschwerpunkte
                                der DuB e.v. liegt bei der Hilfe vielfältiger Problemlagen von
                                Migrant*Innen im Alltag; bei der Begleitung des Integrationsprozesses von
                                Migrantinnen durch ein bedarfsorientiertes, individuelles
                                Beratungsangebot; bei der Beratung und Begleitung der Klienten im Sinne
                                eines Case Managements; Bei der Begleitung während des
                                Integrationskurses; bei individuellem Bedarf und bei der Hilfestellung; bei
                                ausländischen Fragen; bei Fragen zur Arbeit; bei der Anerkennung
                                ausländischer Bildungs-und Berufsabschlüsse; bei der sozialen
                                Versorgung; bei der Kooperation mit Institutionen und Behörden der
                                Integrationsfoerderung und der Beratungsdienste; bei der Hilfe zur
                                Antragstellung staatlicher und Sozialleistungen (Kindergeld, UVG, SGI,
                                SGII, SGXII)
                            </p>
                        </div>
                        <div class="infoimg2" >
                            <img class="b-img-item" src="/images/tente.jpg" alt="">
                        </div>
                    </div>
                    
                </div>
                <div class="beratungblock">
                    <div class="" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1.5rem 0rem; color:var(--theme);">
                        <h3>Integrationsberatung</h3> 
                    </div>
                    <div class="b-block">
                    <div class="beratunginfotext">
                       
                        <p class="p-post-content">
                            Bei dem DuB-Projekt, werden Geflüchtete und Menschen mit
                            Migrationshintergrund im laufe ihres Integrationsprozess unterstuetzt. Sie
                            werden an entsprechenden Sprachzentren fuer Integrationskurs
                            weitergeleitet. Unabhaengig wird auch geprueft, ob Voraussetzungen zur
                            Erteilung einer Ausbildungsduldung, Beschaeftigungsduldung, Aufenthalt
                            und Aufenthaltsverfestigung vorliegen. Falls ja, setzt die DuB e.v. in
                            Verbindung mit zustaendigen Behoerden. Fachkraefte bzw. qualifizierte
                            Schutzsuchende werden bei der Annerkennung ihrer auslaendischen
                            Abschluesse und bei der Ausbildungs-und arbeitsplatzsuche
                            gruendsaetzlich unterstuetzt.
                        </p>
                    </div>
                    <div class="infoimg2" >
                        <img class="b-img-item" src="/images/social.jpg" alt="">
                    </div>
                    <div class="infoimg2 mob-img" >
                        <img class="b-img-item" src="/images/guide.jpg" alt="">
                    </div>
                </div>
                </div>
                <div class="beratungblock">
                    <div class="" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1.5rem 0rem; color:var(--theme);">
                        <h3>Asylberatung</h3> 
                    </div>
                    <div class="b-block">
                    <div class="beratunginfotext">
                        
                        <p class="p-post-content">
                            Die Asylberatung ist ein Angebot der DuB e.v. durch welches
                            Asylbewerber bzw. Schutzsuchende über Rechtsfragen um das Thema Asyl
                            und Migration informiert werden. Die werden auch ueber ihre Rechte und
                            Aufgaben, ueber Verfahrenswege und Moeglichkeiten des
                            Aufenthaltsrechts in Deutschland informiert. Noch hinzu, Schutzsuchende
                            werden fuer Anhoerung bei dem Bundesamt fuer Migration und
                            Fluechtling (BAMF) vorbereitet. Bei Bedarf werden sie an auch bei
                            Rechtsanwaelten fuer eine juristische Assistenz empfehlen. Nicht zuletzt
                            setzt sich die DuB e.v. in Verbindung mit der zuständigen
                            Auslaenderbehoerde fuer Aufenthaltsfragen, Ausbildungsduldung,
                            Beschaeftigungsduldung, Arbeitserlaubnis usw.
                        </p>
                    </div>
                    <div class="infoimg2" >
                        <img class="b-img-item" src="/images/tente.jpg" alt="">
                    </div>
                    <div class="infoimg2 mob-img" >
                        <img class="b-img-item" src="/images/support.jpg" alt="">
                    </div>
                </div>
                </div>
                
            </div>
        </div>
    </div>
 
    <section class="bd dfc dj fade-down" >   
        <div class="box" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1rem; color:var(--theme); ">
            <h3 id="rater">RATING</h3> 
        </div>
    </section>

    <section class="bd dj dfc fade down" >
        <%- include("../Partial/rating.ejs") %>
    </section>

    <section class="bd dfc dj fade-down" >   
        <div class="box" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1rem; color:var(--theme);">
            <div class="btn-more" onclick="opencommentModal()" style="margin: 1rem 0rem"> Klick hier zu kommentieren!</div>
            <h3 id="comments">KOMMENTARE</h3>
        </div>
    </section>

    <section class="bd dj dfc fade-down">
        <%- include("../Partial/comment.ejs") %>
    </section>
    
    
    <section class="bl dfc dj fade-down" >   
        <div class="box" style="display:flex; align-items: center; text-align:center; font-size: 1.5rem; padding: 1rem;  color:var(--theme);">
            <h3 id="stats">INFORMATION</h3> 
        </div>
    </section>
    <section class="bl dj dfc fade-down" style="padding-bottom: 1.5rem;">
        <%- include("../Partial/counter.ejs") %>
    </section>

    <!--
    <section class="bl dj">
        <div class="box" style="background-color: blueviolet;"> 
            <h1>Event</h1>
            <h2></h2>
        </div>
    </section>
    -->

    <!--footer-->
    <footer class="footer">
        <%- include("../Partial/footer.ejs") %>
    </footer>
    <script src="/ckeditor/ckeditor.js" ></script>

    <%- include("../Partial/modal-spenden.ejs") %>
    <%- include("../Partial/modal-post.ejs") %>
    <%- include("../Partial/modal-comment.ejs") %>
    
    <script>
        document.querySelectorAll( 'oembed[url]' ).forEach( element => {
            // Create the <a href="..." class="embedly-card"></a> element that Embedly uses
            // to discover the media.
            const anchor = document.createElement( 'a' );
    
            anchor.setAttribute( 'href', element.getAttribute( 'url' ) );
            anchor.className = 'embedly-card';
    
            element.appendChild( anchor );
        } );
    </script>
</body>

</html>